Projekt 5/shdbunitdemo/src/test/resources/dataset.dtd

<!ELEMENT dataset (
    MOTOCYCLE*,
    PERSON*,
    PERSON_MOTOCYCLE*)>

<!ELEMENT MOTOCYCLE EMPTY>
<!ATTLIST MOTOCYCLE
    ID CDATA #REQUIRED
    MAKE CDATA #IMPLIED
    MODEL CDATA #IMPLIED
    SOLD CDATA #IMPLIED
>

<!ELEMENT PERSON EMPTY>
<!ATTLIST PERSON
    ID CDATA #REQUIRED
    FIRSTNAME CDATA #IMPLIED
    PIN CDATA #REQUIRED
    REGISTRATIONDATE CDATA #IMPLIED
>

<!ELEMENT PERSON_MOTOCYCLE EMPTY>
<!ATTLIST PERSON_MOTOCYCLE
    MOTOCYCLES_ID CDATA #REQUIRED
    PERSON_ID CDATA #REQUIRED
>

