Projekt 5/src/test/resources/dataset.dtd

<!ELEMENT dataset (
    COMPUTER*,
    CUSTOMER*,
    CUSTOMER_COMPUTER*)>

<!ELEMENT COMPUTER EMPTY>
<!ATTLIST COMPUTER
    ID CDATA #REQUIRED
    CPUBRAND CDATA #IMPLIED
    CPU CDATA #IMPLIED
    GPU CDATA #IMPLIED
    HDD CDATA #IMPLIED
    SOLD CDATA #IMPLIED
>

<!ELEMENT CUSTOMER EMPTY>
<!ATTLIST CUSTOMER
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    OCCUPATION CDATA #IMPLIED
    PESEL CDATA #REQUIRED
    REGISTRATIONDATE CDATA #IMPLIED
>

<!ELEMENT SERVICE EMPTY>
<!ATTLIST SERVICE
	ID CDATA #REQUIRED
	SERVICENAME CDATA #IMPLIED
	SERVICERENOWN CDATA #IMPLIED
	SERVICECODE CDATA #REQUIRED
	ACTIVE CDATA #IMPLIED
>

<!ELEMENT CUSTOMER_COMPUTER EMPTY>
<!ATTLIST CUSTOMER_COMPUTER
    COMPUTERS_ID CDATA #REQUIRED
    CUSTOMER_ID CDATA #REQUIRED
>

